= content_for :headers do
  %h1
    Actualité

= content_for :left_column do

  %ul.media-list#feed-activities
    = render_activities(@activities)

  #infinite-scrolling
    = will_paginate @activities