<div class='panel'>
<div class='panel-heading no-top-padding'>
<div class='row'>
<div class='col-md-12'>
<h1>
Finalisez votre compte !
</h1>
</div>
</div>
</div>
<div class='panel-body'>
<div class='row'>
<div class='col-md-12'>
<p>
Renseignez les informations complémentaires suivantes afin de terminer votre compte.
</p>
</div>
<div class='col-md-4 step-wrapper'>
<div class='step-container'>
<div class='step-number'>
1
</div>
<div class='step-label-container'>
<div class='step-label'>
VOTRE ÉGLISE
</div>
<div class='step-sublabel'>
ou votre commaunauté
</div>
</div>
</div>
<form name='choosePage' ng-if='!submitted' ng-submit='choosePage()'>
<div class='page-chooser form-group'>
<div class='searching-pages' ng-if='searchingPages'>
<i class='fa fa-cog fa-spin'></i>
</div>
<input class='form-control' name='name' ng-if='currentUser.page_id == null' ng-model-options='{ updateOn: &#39;default blur&#39;, debounce: {&#39;default&#39;: 800, &#39;blur&#39;: 0} }' ng-model='page.name' placeholder='Nom ...' type='text'>
<div class='pages-results' ng-if='!searchingPages'>
<bu-pages-show ng-repeat='page in pages' page='page'></bu-pages-show>
</div>
<div class='no-page-found' ng-if='choosePage.name.$dirty &amp;&amp; !searchingPages &amp;&amp; pages.length == 0'>
<h3>
AUCUNE RÉSULTAT
</h3>
<p>
Vous souhaitez ajouter votre communauté sur Burnup ?
</p>
<p>
<a class='btn btn-xs btn-primary' href='mailto:communaute@burnup.fr?Subject=Demande%20d%27ajout%20de%20communaut%E9&amp;Body=Nom%20de%20la%20communaut%E9%20%3A%0AVotre%20nom%20/%20pr%E9nom%20%3A%0AR%F4le%20%3A%20%28Pasteur%2C%20Responsable%2C%20Membre%2C%20...%29%0ARaison%20%3A'>
Contactez-nous !
</a>
</p>
</div>
</div>
</form>
</div>
<div class='col-md-4 step-wrapper'>
<div class='step-container'>
<div class='step-number'>
2
</div>
<div class='step-label-container'>
<div class='step-label'>
VOTRE PHOTO
</div>
<div class='step-sublabel'>
de profil
</div>
</div>
</div>
<div class='form-group avatar-cropper'>
<div class='file-input-wrapper' ng-hide='avatarImage'>
<div class='file-input-button' ng-if='currentUser.avatar'>
<i class='fa fa-pencil' ng-if='!currentUser.no_avatar'></i>
<i class='fa fa-plus' ng-if='currentUser.no_avatar'></i>
<img class='avatar' ng-class='currentUser.no_avatar ? &#39;default&#39; : &#39;&#39;' ng-src='{{currentUser.avatar.medium}}'>
</div>
<input class='avatar-pic-input form-control' id='avatarFileInput' name='user[avatar]' type='file'>
</div>
<div class='crop-area' ng-show='avatarImage &amp;&amp; !avatarValidated'>
<div class='cancel-btn btn-xs btn btn-primary' ng-click='avatarImage = null; avatarValidated = false'>
<i class='fa fa-arrow-circle-o-left'></i>
CHANGER
</div>
<div class='valid-btn btn-xs btn btn-success' ng-click='avatarValidated = true'>
<i class='fa fa-check-circle'></i>
OK
</div>
<img-crop area-type='circle' canvas-scalemode='true' chargement='&#39;Chargement ...&#39;' class='text-center' image='avatarImage' result-image-size='{w:350,h:350}' result-image='croppedAvatarImage'></img-crop>
</div>
<div class='avatar-validated' ng-class='avatarUploaded ? &#39;uploaded&#39; : &#39;&#39;' ng-if='avatarValidated'>
<img class='cropped-image' ng-class='avatarUploaded ? &#39;uploaded&#39; : &#39;&#39;' ng-src='{{croppedAvatarImage}}'>
<div class='progress-count' ng-class='avatarUploading ? &#39;active&#39; : &#39;&#39;'>
{{progress}}%
</div>
<div class='progress-success' ng-class='avatarUploaded ? &#39;active&#39; : &#39;&#39;'>
<i class='fa fa-check-circle'></i>
</div>
<round-progress animation-delay='1000' animation='easeInOutQuart' bgcolor='#eaeaea' clockwise='true' color='#e72510' current='progress' duration='800' max='max' radius='100' responsive='true' rounded='true' stroke='5'></round-progress>
</div>
</div>
</div>
<div class='col-md-4 step-wrapper'>
<div class='step-container'>
<div class='step-number'>
3
</div>
<div class='step-label-container'>
<div class='step-label'>
LES INSTRUMENTS
</div>
<div class='step-sublabel'>
que vous pratiquez
</div>
</div>
</div>
<bu-instrument-preferences-index></bu-instrument-preferences-index>
</div>
</div>
</div>
<div class='panel-footer text-right equal-padding'>
<button class='btn btn-primary' ng-click='finalize()' ng-disabled='finalizing' type='button'>
CONTINUER
<i class='fa fa-arrow-right'></i>
</button>
</div>
</div>
