<span class='modal-wrapper modal-tou' ng-class='active ? &#39;active&#39; : &#39;&#39;'>
<div class='modal-header'>
<a class='close' ng-click='closeModal()'>×</a>
<h2 class='modal-heading'>
Connexion
</h2>
</div>
<div class='modal-body'>
<form accept-charset='UTF-8' class='new_user' id='new_user' ng-submit='login()'>
<input name='utf8' type='hidden' value='✓'>
<div class='form-group'>
<div class='form-group email required user_email' ng-class='unauthorized ? &#39;has-error&#39; : &#39;&#39;'>
<label class='email required control-label' for='user_email'>
<abbr title='requis'>*</abbr>
Email
</label>
<input autofocus class='form-control' id='user_email' maxlength='255' name='user[email]' ng-model-options='{ updateOn: &#39;default blur&#39;, debounce: {&#39;default&#39;: 2000, &#39;blur&#39;: 0} }' ng-model='user.email' size='255' type='email'>
<span class='help-block' ng-if='unauthorized'>
Email ou mot de passe incorrect. Veuillez réessayer.
</span>
</div>
</div>
<div class='form-group'>
<a class='pull-right' href='/utilisateurs/mot-de-passe/new'>Oublié le votre ?</a>
<div class='form-group password required user_password' ng-class='unauthorized ? &#39;has-error&#39; : &#39;&#39;'>
<label class='password required control-label' for='user_password'>
<abbr title='requis'>*</abbr>
Mot de passe
</label>
<input class='password required form-control' id='user_password' maxlength='128' name='user[password]' ng-model='user.password' size='128' type='password'>
</div>
</div>
<div class='checkbox'>
<label>
<input checked id='user_remember_me' name='user[remember_me]' ng-model='user.remember_me' type='checkbox' value='1'>
Se souvenir de moi
</label>
</div>
<div class='text-right'>
<button class='btn btn-primary' type='submit'>
<span ng-if='!loading'>
SE CONNECTER
</span>
<span ng-if='loading'>
<i class='fa fa-cog fa-spin'></i>
CONNEXION EN COURS
</span>
</button>
</div>
</form>
</div>
</span>
