.list-group
  %a.list-group-item{"ng-repeat" => "instrument in instruments"}
    %bu-instrument-preferences-show{instrument: "instrument"}

.list-group.no-bottom-marge
  %a.list-group-item.equal-padding
    %bu-instrument-preferences-new
