.list-group
  %a.list-group-item{"ng-repeat" => "instrument in instruments"}
    %bu-instrument-preferences-show{instrument: "instrument"}

.list-group
  %a.list-group-item
    %bu-instrument-preferences-new
