- content = render "form", :remote => true

= render("shared/modal_append",
    :modal_id => "show_meeting",
    :title => "#{@meeting.label}",
    :content => content,
    :footer => link_to("Enregistrer", "#", "data-form-submit" => "true", :class => "btn btn-primary"))

setTimeout(function(){
auto_load(global_ready);
},100)
