- content = render "form", :remote => true

= render("shared/modal_append",
    :modal_id => "new_meeting",
    :title => "#{@meeting.label}",
    :content => content)

setTimeout(function(){
auto_load(global_ready);
},100)
