<div class='modal-container' id='likers-modal' ng-class='active ? &#39;active&#39; : &#39;&#39;'>
<div class='modal-header'>
<div class='close' ng-click='close()'>
<span class='glyphicon glyphicon-remove'></span>
</div>
</div>
<div class='modal-body'>
<ul class='list-group'>
<li class='list-group-item' ng-repeat='liker in likers'>
<img class='img-responsive img-circle liker-avatar' ng-src='{{liker.avatar.tiny}}'>
<h3>
<a href='{{liker.paths.show}}'>
{{liker.name}}
</a>
</h3>
</li>
</ul>
</div>
</div>
