<form class='ng-cloak' id='activities-new-modal' name='postForm' ng-submit='save($event)'>
<div class='loading-container text-center' ng-if='!post'>
<i class='fa fa-cog fa-spin'></i>
</div>
<span ng-if='post'>
<div class='modal-header flexed-grid flex-centered'>
<div class='grid-item no-padding'>
<img class='user-avatar' ng-src='{{currentUser.avatar.tiny}}'>
</div>
<div class='grid-item flex-fit'>
<h1>
{{currentUser.fullName}}
</h1>
</div>
</div>
<div class='modal-body'>
<div class='form-group' ng-class='{&#39;has-error&#39;: (postForm.$submitted || postForm.content.$touched) &amp;&amp; postForm.content.$error, &#39;has-success&#39;: (postForm.$submitted || postForm.content.$touched) &amp;&amp; !postForm.content.$error}'>
<textarea autofocus class='form-control' msd-elastic name='content' ng-disabled='savingPost' ng-model='post.content' ng-required='files.length == 0' placeholder='Qu&#39;est-ce qui vous enflamme aujourd&#39;hui ?*' rows='1'></textarea>
<div class='help-block' ng-show='(postForm.$submitted || postForm.content.$touched) &amp;&amp; postForm.content.$error.required'>
Ce champ est obligatoire.
</div>
</div>
<span ng-if='withPhoto'>
<div accept='image/*,application/pdf,audio/mp3,audio/wav' class='drop-box text-center' ng-if='files.length &lt; 5' ngf-allow-dir='true' ngf-capture='&#39;camera&#39;' ngf-dimensions='$width &gt; 500 &amp;&amp; $height &gt; 500' ngf-drag-over-class='&#39;dragover&#39;' ngf-drop='upload($files)' ngf-max-files='2' ngf-max-size='50MB' ngf-min-size='10KB' ngf-multiple='true' ngf-pattern='&#39;image/*,application/pdf,audio/*&#39;' ngf-select='upload($files, $invalidFiles)'>
<i class='fa fa-plus-circle'></i>
Déposez ici vos fichiers pdf, images (jpg/png),
<br>
ou audio (mp3)
</div>
<ul class='files' style='clear:both'>
<li class='sel-file' ng-repeat='f in files'>
<div class='flexed-grid flex-centered flex-unwrapped'><div class='grid-item'>
<img class='thumb file-preview' ngf-thumbnail='!f.attachmentThumb &amp;&amp; !f.$error &amp;&amp; f'>
<img class='thumb img-responsive image-preview' ng-if='f.attachmentThumb' ng-src='{{f.attachmentThumb}}'><img class='pdf-icon' ng-if='f.type == &#39;application/pdf&#39; || !f.type' src='/images/pdf.svg'></div><div class='grid-item flex-fit flex-shrinked file-name'>
{{f.name}}
</div><div class='grid-item'>
<div class='destroy-file' ng-click='deleteAttachment(f)'>
<i class='fa fa-times'></i>
</div>
</div>
</div>
<uib-progressbar class='progress-striped active' ng-if='f.progress &lt; 100' type='success' value='f.progress'></uib-progressbar>
</li>
<li class='sel-file invalid-file-header' ng-if='invalidFiles.length &gt; 0'>
Les fichiers suivants n'ont pas pu être téléchargés :
</li>
<li class='sel-file invalid-file' ng-repeat='f in invalidFiles'>
<div class='flexed-grid flex-centered flex-unwrapped'>
<div class='grid-item'><i class='fa fa-warning'></i></div><div class='grid-item flex-fit flex-shrinked'>
<div class='file-name'>
{{f.name}}
</div>
<span class='validation-messages' ng-repeat='(errorKey, errorLabel) in f.errorsLabels'>
<span class='label label-warning message' uib-popover='{{errorLabel.popover}}'>
{{errorLabel.label}}
</span>
</span>
</div></div>
</li>
</ul>
</span>
</div>
<div class='modal-footer'>
<div class='row'>
<div class='col-sm-6 text-left'>
<button class='btn btn-default' ng-click='showPhoto()' ng-if='!withPhoto' type='button'>
<i class='fa fa-plus'></i>
<i class='fa fa-photo'></i>
</button>
</div>
<div class='col-sm-6'>
<button class='btn btn-default' ng-click='close()' ng-disabled='savingPost' type='button'>
ANNULER
</button>
<button class='btn btn-default' ng-class='(post.content || files.length  &gt; 0) ? &#39;btn-primary&#39;: &#39;&#39;' type='submit'>
<i class='fa fa-spin fa-cog loading' ng-if='savingPost'></i>
<span ng-if='!savingPost'>
PUBLIER
</span>
</button>
</div>
</div>
</div>
</span>
</form>
