<div class='activity-wrapper panel-body {{activity.trackableType}}' ng-if='activity'>
<a class='pull-left user-avatar' ng-href='{{activity.owner.url}}' ng-if='activity.owner.url'>
<img class='avatar' ng-src='{{activity.owner.avatar.tiny}}'>
</a>
<span class='pull-right activity-menu' ng-if='activity.policy.destroy' uib-dropdown>
<a class='activity-menu-toggler' href='' id='activity-menu-{{activity.id}}' uib-dropdown-toggle>
<i class='fa fa-chevron-down'></i>
</a>
<ul aria-labelledby='activity-menu-{{activity.id}}' class='dropdown-menu' ng-if='activity.policy.destroy' uib-dropdown-menu>
<li>
<a ng-click='destroy($event, activity)'>
Supprimer
</a>
</li>
</ul>
</span>
<div class='content-body'>
<div class='media-heading' ng-if='activity.activityLink'>
<a href='{{activity.activityLink}}'>
{{activity.title}}
</a>
<div am-time-ago='activity.createdAt | amParse:&#39;DD/MM/YYYY HH:mm&#39;' class='activity-time'></div>
<!-- %span.content{"ng-bind-html" => "activity.safeContent"} -->
</div>
<div class='media-heading' ng-if='!activity.activityLink'>
{{activity.title}}
<div am-time-ago='activity.createdAt | amParse:&#39;DD/MM/YYYY HH:mm&#39;' class='activity-time'></div>
</div>
<span class='content' ng-bind-html='activity.safeContent'></span>
<div class='medias-container' ng-if='activity.mediasForJG.length &gt; 0'>
<justified-gallery gallery-name='&#39;activity-&#39; + activity.id + &#39;-gallery&#39;' images='activity.mediasForJG'></justified-gallery>
</div>
<div class='audio-medias-container'>
<bu-medias-audio media='media' ng-if='media.attachment.contentType == &#39;audio&#39;' ng-repeat='media in activity.medias'></bu-medias-audio>
</div>
<!-- %pre -->
<!-- {{activity}} -->
<div class='song-btn text-right' ng-if='activity.trackableType == &#39;Song&#39;'>
<a class='btn btn-primary btn-sm' ng-href='{{activity.activityLink}}'>
VOIR LE CHANT
<i class='fa fa-chevron-right'></i>
</a>
</div>
</div>
<div class='media-footer activity-footer' ng-if='isLoggedIn'>
<span class='social-actions-container'>
<div class='social-bar'>
<a class='like-btn' ng-click='burnToggle()'>
<i class='fa fa-heart' ng-if='activity.liked'></i>
<i class='fa fa-heart-o' ng-if='!activity.liked'></i>
Je m'enflamme
</a>
<a class='comment-btn' ng-click='toggleComment()'>
<span class='glyphicon glyphicon-comment'></span>
Commenter
</a>
</div>
<div class='likers-label' ng-if='activity.likers.length &gt; 0 || activity.liked'>
<hr>
<span class='avatars' ng-if='activity.likers.length &gt; 0'>
<img class='img-responsive img-circle' ng-repeat='liker in activity.likers | limitTo: 3' ng-src='{{liker.avatar.tiny}}'>
</span>
<a class='likers' ng-click='showLikers()'>
{{activity.likeLabel}}
</a>
<div class='comments-count pull-right' ng-click='toggleComment()'>
<i class='fa fa-comment'></i>
{{activity.comments.length}}
</div>
</div>
<div class='collapse' uib-collapse='!activity.showComments'>
<div class='comments-container'>
<div class='comment flexed text-left' ng-repeat='comment in activity.comments'>
<img class='item comment-avatar' src='{{comment.creator.avatar.tiny}}'>
<div class='item comment-inner'>
<a class='destroy pull-right' ng-click='destroyComment(comment)' ng-if='currentUser.id == comment.creator.id'>
<i class='fa fa-times'></i>
</a>
<div class='comment-creator'>
{{comment.creator.shortName}}
<span am-time-ago='comment.createdAt | amParse:&#39;DD/MM/YYYY HH:mm&#39;' class='comment-created-at' ng-if='comment.createdAt'></span>
</div>
{{comment.comment}}
</div>
</div>
</div>
<form class='comment-form' name='comment-form' ng-submit='saveComment($event, activity.comment)'>
<div class='form-group'>
<input class='form-control' focus-me='activity.commentInputFocus' ng-disabled='activity.comment.saving' ng-model='activity.comment.comment' placeholder='Commentaire ...' type='text'>
</div>
<button class='btn btn-primary' ng-disabled='activity.comment.saving' type='submit'>
<i class='fa fa-paper-plane'></i>
</button>
</form>
</div>
</span>
</div>
</div>
