- if a.trackable and a.owner
  = render "/public_activity/activity_container",
      :title => a.owner.full_name,
      :image_link => edit_user_registration_path,
      :image_url => a.owner.avatar.url(:tiny),
      :image_alt => "Photo de #{a.owner.full_name}",
      :content => "a modifié le chant \"#{a.trackable.title.capitalize}\"",
      :media_link =>  a.trackable
