.panel
  .panel-heading.no-top-padding
    .row
      .col-md-12
        %h1
          Finalisez votre compte !
  .panel-body
    .row
      .col-md-12
        %p
          Renseignez les informations complémentaires suivantes afin de terminer votre compte.

      .col-md-4.step-wrapper

        .step-container
          .step-number
            1
          .step-label-container
            .step-label
              VOTRE ÉGLISE
            .step-sublabel
              ou votre commaunauté

        %form{"ng-submit" => "chooseChurch()", name: "chooseChurch", "ng-if" => "!submitted"}
          .church-chooser.form-group

            %div.searching-churches{"ng-if" => "searchingChurches"}
              %i.fa.fa-cog.fa-spin

            %input.form-control{placeholder: 'Nom ...', type: :text, name: 'name', "ng-model" => "church.name", "ng-model-options" => "{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }", "ng-if" => "currentUser.church_id == null"}

            .churches-results{"ng-if" => "!searchingChurches"}
              %bu-churches-show{"ng-repeat" => "church in churches", church: "church"}

            .no-church-found{"ng-if" => "chooseChurch.name.$dirty && !searchingChurches && churches.length == 0"}
              %h3
                AUCUNE RÉSULTAT
              %p
                Vous souhaitez ajoutez votre communauté sur Burnup ?
              %p
                %a.btn.btn-xs.btn-primary{:href => "mailto:communaute@burnup.fr?Subject=Demande%20d%27ajout%20de%20communaut%E9&Body=Nom%20de%20la%20communaut%E9%20%3A%0AVotre%20nom%20/%20pr%E9nom%20%3A%0AR%F4le%20%3A%20%28Pasteur%2C%20Responsable%2C%20Membre%2C%20...%29%0ARaison%20%3A"}
                  Contactez-nous !
      .col-md-4.step-wrapper
        .step-container
          .step-number
            2
          .step-label-container
            .step-label
              VOTRE PHOTO
            .step-sublabel
              de profil

        .form-group.avatar-cropper
          %div.file-input-wrapper{"ng-hide" => "avatarImage"}
            .file-input-button{"ng-if" => "currentUser.avatar"}
              %i.fa.fa-pencil{"ng-if" => "!currentUser.no_avatar"}
              %i.fa.fa-plus{"ng-if" => "currentUser.no_avatar"}
              %img.avatar{"ng-src" => "{{currentUser.avatar.original}}", "ng-class" => "currentUser.no_avatar ? 'default' : ''"}

            %input.avatar-pic-input.form-control#avatarFileInput{type: :file, name: "user[avatar]"}
            -# %input#fileInput{:type => "file"}/

          .crop-area{"ng-show" => "avatarImage && !avatarValidated"}
            .cancel-btn.btn-xs.btn.btn-primary{"ng-click" => "avatarImage = null; avatarValidated = false"}
              %i.fa.fa-arrow-circle-o-left
              CHANGER
            .valid-btn.btn-xs.btn.btn-success{"ng-click" => "avatarValidated = true"}
              %i.fa.fa-check-circle
              OK
            %img-crop.text-center{"area-type" => "circle", "canvas-scalemode" => "true", :chargement => "'Chargement ...'", :image => "avatarImage", "result-image" => "croppedAvatarImage", "result-image-size" => "{w:350,h:350}"}

          %div.avatar-validated{"ng-if" => "avatarValidated", "ng-class" => "avatarUploaded ? 'uploaded' : ''"}
            %img.cropped-image{"ng-src" => "{{croppedAvatarImage}}", "ng-class" => "avatarUploaded ? 'uploaded' : ''"}/
            .progress-count{"ng-class" => "avatarUploading ? 'active' : ''"}
              {{progress}}%
            .progress-success{"ng-class" => "avatarUploaded ? 'active' : ''"}
              %i.fa.fa-check-circle

            %round-progress{:animation => "easeInOutQuart", "animation-delay" => "1000", :bgcolor => "#eaeaea", :clockwise => "true", :color => "#e72510", :current => "progress", :duration => "800", :max => "max", :radius => "100", :responsive => "true", :rounded => "true", :stroke => "5"}
      .col-md-4.step-wrapper
        .step-container
          .step-number
            3
          .step-label-container
            .step-label
              LES INSTRUMENTS
            .step-sublabel
              que vous pratiquez

        %bu-instrument-preferences-index

  .panel-footer.text-right.equal-padding
    %button.btn.btn-primary{type: :button, "ng-click" => "finalize()", "ng-disabled" => "finalizing"}
      CONTINUER
      %i.fa.fa-arrow-right
