
%span.modal-wrapper.modal-tou{"ng-class" => "active ? 'active' : ''"}
  .modal-header
    %a.close{"ng-click" => "closeModal()"} ×
    %h2.modal-heading
      Connexion

  .modal-body
    %form#new_user.new_user{"accept-charset" => "UTF-8", :action => "/utilisateurs/se-connecter", :method => "post", :role => "form"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      .form-group
        /
          <haml_silent> if devise_mapping.registerable? </haml_silent><haml_block>
          <haml_loud> link_to &quot;S&#39;inscrire&quot;, new_registration_path(resource_name), class: &#39;pull-right&#39;  </haml_loud>
          </haml_block>
        .form-group.email.required.user_email
          %label.email.required.control-label{:for => "user_email"}
            %abbr{:title => "requis"} *
            Email
          %input#user_email.form-control{autofocus: true, :maxlength => "255", :name => "user[email]", :size => "255", :type => "email", :value => ""}/
      .form-group
        %a.pull-right{:href => "/utilisateurs/mot-de-passe/new"} Oublié le votre ?
        .form-group.password.required.user_password
          %label.password.required.control-label{:for => "user_password"}
            %abbr{:title => "requis"} *
            Mot de passe
          %input#user_password.password.required.form-control{:maxlength => "128", :name => "user[password]", :size => "128", :type => "password"}/

      .checkbox
        %label
          %input#user_remember_me{:name => "user[remember_me]", :type => "checkbox", :value => "1", checked: true}/
          Se souvenir de moi
      .text-right
        %input.btn.btn-primary.right{:name => "commit", :type => "submit", :value => "SE CONNECTER"}/
