%form.container-fluid{"ng-submit" => "submit()", name: "signUpForm", "ng-if" => "!submitted"}
  .row
    .col-xs-6.col-xxs-12{"ng-class" => "{'has-error': (signUpForm['user[first_name]'].$dirty && signUpForm['user[first_name]'].$invalid)}"}
      .form-group
        %label
          Prénom
        %input.form-control{type: :text, "ng-model" => "user.firstName", name: "user[first_name]", required: true}

        %span.help-block{"ng-if" => "signUpForm['user[first_name]'].$dirty && signUpForm['user[first_name]'].$invalid"}
          %i.fa.fa-warning
          %span{"ng-if" => "signUpForm['user[first_name]'].$error.required"}
            Le prénom est obligatoire !

    .col-xs-6.col-xxs-12{"ng-class" => "{'has-error': (signUpForm['user[last_name]'].$dirty && signUpForm['user[last_name]'].$invalid)}"}
      .form-group
        %label
          Nom
        %input.form-control{type: :text, "ng-model" => "user.lastName", name: "user[last_name]", required: true}

        %span.help-block{"ng-if" => "signUpForm['user[last_name]'].$dirty && signUpForm['user[last_name]'].$invalid"}
          %i.fa.fa-warning
          %span{"ng-if" => "signUpForm['user[last_name]'].$error.required"}
            Le nom est obligatoire !
  .row
    .col-md-12
      .form-group{"ng-class" => "{'has-error': (signUpForm['user[email]'].$dirty && signUpForm['user[email]'].$invalid) || errors['email']}"}
        %label
          Email
        %input.form-control{type: :email, "ng-model" => "user.email", required: true, name: "user[email]", autocomplete: :off}

        %span.help-block{"ng-if" => "signUpForm['user[email]'].$dirty && signUpForm['user[email]'].$invalid || errors['email']"}
          %i.fa.fa-warning
          %span{"ng-if" => "signUpForm['user[email]'].$error.required"}
            L'adresse email est obligatoire !
          %span{"ng-if" => "signUpForm['user[email]'].$error.email"}
            L'adresse email doit être valide !
          %span{"ng-if" => "errors['email']"}
            {{errors['email']}}

    .col-md-12
      .form-group{"ng-class" => "{'has-error': (signUpForm['user[password]'].$dirty && signUpForm['user[password]'].$invalid)}"}
        %label
          Mot de passe
        %input.form-control{type: :password, "ng-model" => "user.password", "ng-minlength" => "8", required: true, name: "user[password]", autocomplete: :off}

        %span.help-block{"ng-if" => "signUpForm['user[password]'].$dirty && signUpForm['user[password]'].$invalid"}
          %i.fa.fa-warning
          %span{"ng-if" => "signUpForm['user[password]'].$error.required"}
            Le mot de passe est obligatoire !
          %span{"ng-if" => "signUpForm['user[password]'].$error.minlength"}
            Le mot de passe doit comporter au moins 8 caractères.

    -# .col-md-12
    -#   .form-group{"ng-class" => "{'has-error': (signUpForm['user[church_id]'].$dirty && signUpForm['user[church_id]'].$invalid)}"}
    -#     %label
    -#       Église ou Association
    -#
    -#     .selectize-container
    -#       %div.creating-sign{"ng-if" => "creatingChurch"}
    -#         %i.fa.fa-cog.fa-spin
    -#         Création en cours ...
    -#       %div.searching-churches{"ng-if" => "searchingChurches"}
    -#         %i.fa.fa-cog.fa-spin
    -#       %selectize{config: "selectizeConfig", "ng-model" => "user.church_id", options: "churches", required: true, name: "user[church_id]", "ng-disabled" => "creatingChurch"}
    -#
    -#     %span.help-block{"ng-if" => "signUpForm['user[church_id]'].$dirty && signUpForm['user[church_id]'].$invalid"}
    -#       %i.fa.fa-warning
    -#       %span{"ng-if" => "signUpForm['user[church_id]'].$error.required"}
    -#         L'église est obligatoire !

    .col-md-12
      .form-group
        %label.checkbox
          %input{type: :checkbox, name: 'user[tou]', "ng-model" => "user.tou", required: true}
          J'accepte les conditions d'utilisation de Burnup.

    .col-md-12
      .form-group.text-right
        %button.btn.btn-primary{type: :submit, "ng-disabled" => "signUpForm.$invalid || submitting"}
          %span{"ng-if" => "!submitting"}
            %i.fa.fa-plus
            S'INSCRIRE

          %span{"ng-if" => "submitting"}
            %i.fa.fa-cog.fa-spin

%div{"ng-if" => "submitted"}
  .alert.alert-success.text-center.user-saved
    %h2
      %i.fa.fa-check-circle
      Votre compte a bien été créé !

    %p
      Vous allez recevoir un email afin de confirmer votre compte.
