= content_for :pre_header do
  .page-header-container.ng-cloak{"bu-adapt-window": "'height'"}
    -# %img.page-logo{src: asset_path("heart-bits.svg")}
    %img.page-logo{src: @church.logo.url(@church.logo_medium_style)}

    %bu-header-show-case{"church-id": "#{@church.id}"}
    .background-image{style: "background-image:url('#{asset_path("father-son.jpg")}')"}

- if @church
  .container-fluid
    %bu-activities-index{"recipient-type": "'Church'", "recipient-id": "#{@church.id}"}
