%p#notice= notice

%p
  %b Nom:
  = @church.name

= link_to 'Modifier', edit_church_path(@church), class: "btn-xs btn btn-primary"
\|
= link_to 'Retour', churches_path, class: "btn-xs btn btn-primary"
