#feed-activities {
  .activity {
    border-bottom: 1px solid #eee;
    .avatar {
      border-radius: 100px;
    }
    .user-avatar {
      margin-right: 12px;
    }
    .media-heading {
      font-size: 18px;
      line-height: 18px;
      margin-top: 9px;
      margin-bottom: 20px;
      .activity-time {
        font-size: 12px;
      }
    }
    .media-footer {
      .social-actions-container {
        text-align: left;
        font-size: 15px;
        .social-bar {
          a {
            font-size: 15px;
            display: inline-block;
            margin-right: 25px;
            vertical-align: middle;
          }
        }
        .likers-label {
          hr {
            margin: 10px 0;
          }
          .avatars {
            margin-right: 10px;
            vertical-align: middle;
            img {
              display: inline-block;
              margin-right: -5px;
              border: 2px solid #EEE;
              width: 25px;
              height: 25px;
            }
          }
          .likers {
            vertical-align: middle;
          }
        }
        > a.like-btn {
          &:hover, &:focus, &:visited {
            text-decoration: none;
          }
          // width: 22px;
          // height: 29px;
          display: inline-block;
          font-size: 17px;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }

          // vertical-align: middle;
          // background-repeat: no-repeat;
          // background-position: center;
          // background-size: contain;
          //
          // &.unliked {
          //   background: asset-url('logo-unliked.svg');
          //   &:hover{
          //     background: asset-url('logo-liked.svg');
          //   }
          // }
          // &.liked {
          //   background: asset-url('logo-liked.svg');
          //   &:hover{
          //     background: asset-url('logo-unliked.svg');
          //   }
          // }

        }
        > a.likers {
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
