bu-churches-show {
  &:last-child {
    .panel {
      margin-bottom: 0;
    }
  }
  .panel {
    .panel-heading {
      h3 {
        margin: 0;
        color: white;
        font-size: 26px;
      }
    }

    .panel-body {
      display: flex;
      align-items: center;

      .church-logo {
        min-width: 110px;
        border-radius: 100px;
        border: 5px solid #eee;
        overflow: hidden;

        > img {
          min-width: 100px;
        }
      }

      .church-detail {
        margin-left: 15px;
      }
    }

    .panel-footer {
      padding: 10px;

      button {
        i.fa {
          font-size: 18px;
          line-height: 0;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}

.churches-results {
  margin: 20px 0 0 0;
}

.church-chooser {
  position: relative;
  margin-bottom: 0;
  .searching-churches {
    position: absolute;
    right: 12px;
    top: 9px;
  }
}
