@import "helpers";

#notifications-dropdown {
  width: 400px;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 620px;
  overflow: scroll;

  > li {
    &.loading {
      font-size: 24px;
      padding: 15px 0;
    }

    &.no-result {
      text-align: center;
      padding: 20px;

      > .fa {
        font-size: 30px;
        line-height: 0;
        position: relative;
        top: 5px;
      }
    }
  }

  > li {
    > .notification {
      border-bottom: 1px solid #eee;
      padding: 8px;

      .user-avatar-mini {
        @include rounded-corners(50px);
        float: left;
        margin-right: 8px;
      }

      .notification-content {
        white-space: normal;
        padding-right: 20px;
        position: relative;

        .seen-notification {
          position: absolute;
          right: 8px;
          top: 50%;
          height: 14px;
          margin-top: -7px;
        }

        .notified-at {
          font-size: 12px;
          margin: -3px 0 0;
        }
      }

      .notification-notifiable-content {
        font-style: italic;
        margin: 10px 0 0;
      }
    }
  }
}
