@import "helpers";

#notifications-dropdown {
  width: 400px;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 620px;
  overflow: scroll;

  > li {
    &.loading {
      font-size: 24px;
      padding: 15px 0;
    }

    &.no-result {
      text-align: center;
      padding: 20px;

      > .fa {
        font-size: 30px;
        line-height: 0;
        position: relative;
        top: 5px;
      }
    }
  }

  > li {
    &.is-unseen {
      background: #fff5e8;

      > .notification {
        border-left: 3px solid #fff5e8;
      }
    }

    > .notification {
      border-bottom: 1px solid #eee;
      padding: 8px;
      position: relative;
      border-left: 3px solid #fff;

      &:hover {
        border-left: 3px solid #d9230f;
      }

      > a {
        color: #444;

        &:hover {
          text-decoration: none;
        }
      }

      .inner-wrapper {
        width: 360px;
        display: inline-block;
        vertical-align: middle;
      }

      .seen-notification {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        background: #D92322;

        i {
          position: absolute;
          top: 50%;
          margin-top: -6px;
          color: white;
          border-radius: 10px;
          width: 18px;
          height: 12px;
          font-size: 14px;
          left: 50%;
          margin-left: -9px;
          text-align: center;
        }
      }

      .user-avatar-mini {
        @include rounded-corners(50px);
        float: left;
        margin-right: 8px;
      }

      .notification-content {
        white-space: normal;
        padding-right: 20px;
        position: relative;

        .notified-at {
          font-size: 12px;
          margin: -3px 0 0;
        }
      }

      .notification-notifiable-content {
        font-style: italic;
        margin: 10px 0 0;
      }
    }
  }
}
