// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "helpers";

#song_title {
  @include box-shadow-erase();
  background: transparent;
  border: 0 solid transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  font-size: 60px;
  height: 75px;
  overflow: hidden;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15px;
}

#song-key-padder {
  padding-top: 20px;
}

.song-form {
  .song_content {
    clear: both;
  }
}

#song_content {}

#song-form {
  margin-top: -10px;
}

#song-container {
  padding-top: 20px;
  font-size: 16px;
  position: relative;
  line-height: 25px;

  .section-padder {
    display: block;
    height: 35px;
    margin-bottom: -30px;
    border-bottom: 1px dashed $main_color;
    width: 100%;
  }

  .song-section-title {
    font-weight: bold;
    margin: 20px 0 0;
    display: inline-block;
  }

  .content-note {
    display: inline-block;
    width: 0;
  }

  .song-line {
    margin: 30px 0 0;

    &.no-chord {
      margin: 0;
    }

    &.empty-song-line {
      height: 0;
      margin: 25px 0 0;
    }
  }

  #song-notes {
    .note {
      @include transition();
      line-height: 20px;
      position: absolute;
    }
  }

  &.loading {
    #song-notes {
      .note {
        opacity: 0;
      }
    }
  }
}
