@import "helpers";

.user-saved {
  margin: -21px;

  h2 {
    margin: 0;
    font-size:30px;
    color: #333;
  }
}
.user-avatar {
  &.tiny {
    max-width: 50px;
  }
  &.mini {
    max-width: 49px;
    border-radius: 100px;
  }
}
.avatar-cropper {
  .file-input-wrapper {
    position: relative;
  }
  #croppedAvatarImage {
    position: absolute;
    z-index: 0;
  }
}
.avatar-cropper {
  img-crop {
    min-height: 245px;
    .loading {
      height: 100%;
      position: absolute;
      line-height: 243px;
      text-transform: uppercase;
      font-weight: lighter;
      letter-spacing: 2px;
      border-radius: 5px;
    }
    canvas {
      border-radius: 5px;
    }
  }
  .file-input-wrapper {
    position: relative;
    margin-top: 3px;
    .file-input-button {
      position: absolute;
      z-index: 0;
      top:0;
      width: 100%;
      height: 245px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 70px;
      background: white;
      color: #d9230f;
      cursor: pointer;
      > i.fa {
        position: absolute;
        z-index: 1;
        color: #FFF;
        background: #d9230f;
        width: 70px;
        height: 70px;
        text-align: center;
        border-radius: 100px;
        font-size: 50px;
        padding: 11px;
        &.fa-plus {
          top: 120px;
          padding-top: 13px;
          padding-left: 12px;
        }
      }
      > img.avatar {
        max-width: 100%;
        position: absolute;
        max-height: 100%;
        border-radius: 100%;
        &.default {
          width: 210px;
        }
      }
    }
    #avatarFileInput {
      position: absolute;
      z-index: 1;
      top:0;
      width: 100%;
      height: 245px;
      opacity: 0;
      cursor: pointer;
    }
  }
  .avatar-validated {
    position: relative;
    .round-progress-wrapper {
      @include transition(1s);
      opacity: 1;
      padding-bottom: 0px !important;
      position: absolute !important;
      top: 0;
      width: 255px !important;
      height: 245px;
      left: 50%;
      margin-left: -127.5px;
    }
    &.uploaded {
      .round-progress-wrapper {
        opacity: 0;
      }
    }
  }
  .progress-count, .progress-success {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    width: 60px;
    text-align: center;
    margin-left: -30px;
    height: 28px;
    margin-top: -14px;
    &.progress-success {
      color: #469408;
      height: 70px;
      margin-top: -35px;
      font-size: 47px;
    }
    &.active {
      display: block;
    }
  }
  .crop-area {
    position: relative;
    $btn-offset: 35px;
    .valid-btn, .cancel-btn {
      position: absolute;
      top: 10px;
    }
    .valid-btn {
      right: $btn-offset;
    }
    .cancel-btn {
      left: $btn-offset;
    }
  }
  img.cropped-image {
    width: 245px;
    border-radius: 140px;
    @include transition();
    &.uploaded {
      opacity: 0.8;
    }
  }
}
.step-container {
  display: flex;
  align-items: center;
  margin: 15px 0;

  .step-number {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #444;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }

  .step-label-container {
    margin-left: 10px;

    > div {
      margin: -7px 0;
    }

    .step-label {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 17px;
    }
  }
}
bu-instrument-preferences-new {
  .form-group {
    margin-bottom: 0;
  }
  .new-submit {
    min-width: 25%;
    height: 37px;
    margin-left: 5px;
  }
}
bu-users-finalize,
bu-users-new {

  .step-wrapper {
    min-height: 330px;
  }

  p {
    font-size: 15px;
  }

  .selectize-container {
    position: relative;

    .searching-churches {
      position: absolute;
      z-index: 2;
      color: #444;
      top: 7px;
      right: 37px;
    }

    .creating-sign {
      position: absolute;
      top: 7px;
      left: 11px;
      z-index: 2;
    }
  }
}
.comment-avatar {
  max-height: 39px;
}
.modal-tou {
  h2 {
    font-size: 23px;
    font-family: 'sansationlight';
  }
  h3 {
    font-family: 'sansationlight';
    font-size: 18px;
    margin: 0 0 10px 0;
  }
}
