.user-saved {
  margin: -10px -20px -20px;

  h2 {
    margin: 10px 0;
  }
}

.step-container {
  display: flex;
  align-items: center;
  margin: 15px 0;

  .step-number {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #444;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }

  .step-label-container {
    margin-left: 10px;

    > div {
      margin: -7px 0;
    }

    .step-label {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 17px;
    }
  }
}

bu-users-finalize,
bu-users-new {
  p {
    font-size: 15px;
  }

  .selectize-container {
    position: relative;

    .searching-churches {
      position: absolute;
      z-index: 2;
      color: #444;
      top: 7px;
      right: 37px;
    }

    .creating-sign {
      position: absolute;
      top: 7px;
      left: 11px;
      z-index: 2;
    }
  }
}
