.user-saved {
  margin: -10px -20px -20px;

  h2 {
    margin: 10px 0;
  }
}

bu-users-new {
  .selectize-container {
    position: relative;

    .searching-churches {
      position: absolute;
      z-index: 2;
      color: #444;
      top: 7px;
      right: 37px;
    }

    .creating-sign {
      position: absolute;
      top: 7px;
      left: 11px;
      z-index: 2;
    }
  }
}
