<div class='row' id='page-title-container'>
<div class='col-sm-2 col-md-1 hidden-xs'>
<img class='img-responsive' id='page-avatar' ng-src='{{page.avatar.medium}}'>
</div>
<div class='col-sm-5 col-md-5 col-xs-12 text-center-xs'>
<h1>
{{page.name}}
<span class='sub-title' ng-if='subTitle'>
| {{subTitle}}
</span>
</h1>
<h2>
{{page.slogan}}
</h2>
<div class='action-bar'>
<button class='btn btn-sm' ng-class='page.isFollowed ? &#39;btn-default&#39; : &#39;btn-primary&#39;' ng-click='toggleFollow()' ng-disabled='isFollowing' ng-if='currentUser &amp;&amp; !page.isEditable'>
<span ng-if='page.isFollowed'>
<i class='fa fa-times'></i>
NE PLUS SUIVRE
</span>
<span ng-if='!page.isFollowed'>
<i class='fa fa-arrow-right'></i>
SUIVRE
</span>
</button>
<button class='btn btn-primary btn-sm' ng-href='/pages/{{page.id}}/edit' ng-if='page.isEditable'>
<i class='fa fa-cogs'></i>
PARAMÈTRES
</button>
<button class='btn btn-default btn-sm' ng-click='showInfo()'>
<i class='fa fa-info-circle'></i>
À PROPOS
</button>
<a class='btn btn-default btn-sm' ng-href='{{page.urls.songs}}' ng-if='page.hasAnySongs'>
<i class='fa fa-music'></i>
CHANTS
</a>
</div>
</div>
<div class='col-sm-5 col-md-6 col-xs-12 text-right text-center-xs'>
<hr class='visible-xs'>
<div class='banner hidden-sm hidden-xxs' ng-if='page.patreonUrl'>
AIDEZ-NOUS À
<br>
ALLER PLUS LOIN !
</div>
<div class='socials'>
<a class='patreon' href='{{page.patreonUrl}}' ng-if='page.patreonUrl' target='_blank'>
<img src='/assets/patreon-1ad8dc5d99c9d50aadf9318db7940cd694c07fe1bf15888be4b0b6e9649d765f.svg'>
</a>
<a href='{{page.youtubeUrl}}' ng-if='page.youtubeUrl' target='_blank'>
<i class='fa fa-youtube'></i>
</a>
<a href='{{page.facebookUrl}}' ng-if='page.facebookUrl' target='_blank'>
<i class='fa fa-facebook'></i>
</a>
<a href='{{page.twitterUrl}}' ng-if='page.twitterUrl' target='_blank'>
<i class='fa fa-twitter'></i>
</a>
</div>
</div>
</div>
<div class='row'>
<div class='col-md-12'>
<hr>
</div>
</div>
