<span class='main-header-container'>
<img class='page-logo' ng-class='infoModalOn ? &#39;slided-xs&#39; : &#39;&#39;' ng-src='{{page.avatar.medium}}'>
<div class='text-center' id='page-title-container' ng-class='infoModalOn ? &#39;&#39; : &#39;active&#39;'>
<h1 class='slogan bu-slide-top'>
<div class='vid hidden-xs hidden-sm' ng-if='youtubeUrl'>
<div class='embed-responsive embed-responsive-16by9'>
<iframe allowfullscreen='' frameborder='0' height='auto' ng-src='{{youtubeUrl}}' width='auto'></iframe>
</div>
</div>
{{page.slogan}}
<div class='actions'>
<button class='btn btn-default btn-md' ng-click='toggleInfo()'>
<i class='fa fa-info-circle'></i>
À PROPOS
</button>
<button class='btn btn-primary btn-md' ng-click='goDown()'>
<i class='fa fa-chevron-down'></i>
DÉCOUVRIR
</button>
</div>
</h1>
</div>
<div class='text-center' id='page-info-container' ng-class='infoModalOn ? &#39;active&#39; : &#39;&#39;'>
<h1 class='slogan bu-slide-top'>
{{page.name}}
</h1>
<div class='description'>
{{page.description}}
</div>
<div class='info-actions'>
<a class='back-button' ng-click='toggleInfo()'>
<i class='fa fa-long-arrow-left'></i>
RETOUR
</a>
<button class='btn btn-primary btn-md' ng-click='goDown()'>
<i class='fa fa-chevron-down'></i>
DÉCOUVRIR
</button>
</div>
</div>
</span>
