<div class='row' id='page-title-container'>
<div class='col-sm-2 col-md-1 hidden-xs'>
<img class='img-responsive' id='page-avatar' ng-src='{{page.avatar.medium}}'>
</div>
<div class='col-sm-10 col-md-11 col-xs-12'>
<h1>
{{page.name}}
<span class='sub-title' ng-if='subTitle'>
| {{subTitle}}
</span>
</h1>
<h2>
{{page.slogan}}
</h2>
<div class='action-bar'>
<button class='btn btn-sm' ng-class='page.isFollowed ? &#39;btn-default&#39; : &#39;btn-primary&#39;' ng-click='toggleFollow()' ng-disabled='isFollowing' ng-if='currentUser &amp;&amp; !page.isEditable'>
<span ng-if='page.isFollowed'>
<i class='fa fa-times'></i>
NE PLUS SUIVRE
</span>
<span ng-if='!page.isFollowed'>
<i class='fa fa-arrow-right'></i>
SUIVRE
</span>
</button>
<button class='btn btn-primary btn-sm' ng-href='/pages/{{page.id}}/edit' ng-if='page.isEditable'>
<i class='fa fa-cogs'></i>
PARAMÈTRES
</button>
<button class='btn btn-default btn-sm' ng-click='showInfo()'>
<i class='fa fa-info-circle'></i>
À PROPOS
</button>
<a class='btn btn-default btn-sm' ng-href='{{page.urls.songs}}' ng-if='page.hasAnySongs'>
<i class='fa fa-music'></i>
CHANTS
</a>
</div>
</div>
</div>
<div class='row'>
<div class='col-md-12'>
<hr>
</div>
</div>
