- nested_fields ||= []
- extra_class ||= ""
- extra_html ||= ""

- if nested_fields.present?
  .nested-fields.nested_model_fields{:class => extra_class}
    - if extra_html.present?
      .fields-wrapper.row
        .col-lg-12
          = raw extra_html

    .row{:class => extra_html.present? ? "fields-wrapper-not-dashed" : "fields-wrapper"}
      = f.input :id, :as => :hidden
      .col-lg-11.col-md-11.col-sm-11.col-xs-11
        - nested_fields.each do |nested_field|
          = nested_field

      .col-lg-1.close-btn
        = link_to_remove_association f, :class => "red pull-right" do
          %i.glyphicon-remove.glyphicon