.panel.panel-primary
  .panel-heading.text-center
    %h3
      {{church.name}}
  .panel-body
  .panel-footer
    %button.btn.btn-default.btn-sm.btn-group-justified{type: :button, "ng-click" => "select()"}
      CHOISIR
