.panel.panel-primary
  .panel-heading.text-center
    %h3
      {{church.name}}
  .panel-body
    .church-logo
      %img{"ng-src" => "{{church.logo.thumb}}"}
    .church-detail
      %p
        %i.fa.fa-map-marker
        {{church.address}}
  .panel-footer
    %button.btn.btn-default.btn-sm.btn-group-justified{type: :button, "ng-click" => "select()", "ng-if" => "currentUser.church_id != church.id"}
      %i.fa.fa-check-circle
      CHOISIR

    %button.btn.btn-primary.btn-sm.btn-group-justified{type: :button, "ng-click" => "unselect()", "ng-if" => "currentUser.church_id == church.id"}
      %i.fa.fa-times-circle
      ANNULER
