#feed-activities.row{'infinite-scroll' => 'loadActivities()', masonry: true, "load-images": "true", 'masonry-options': "{stamp: '.stamp'}", "ng-show": "initialized", "preserve-order": true}
  .stamp.col-md-6.col-xs-12{"ng-class": "singleColumn ? 'col-lg-12' : 'col-lg-6'", "ng-show": "writeModeEnabled"}
    .panel.activity{'bu-activities-new': true, "recipient-type": "recipientType", "recipient-id": "recipientId"}

  .masonry-brick.col-md-6.col-xs-12{"ng-repeat" => "activity in activities", "ng-class": "singleColumn ? 'col-lg-12' : 'col-lg-6'"}
    .panel.activity{'bu-activities-show' => true, 'activity' => 'activity'}

.clear{"ng-if" => "activitiesLock || !initialized"}
  %div.loading-activities
    .sk-folding-cube
      .sk-cube1.sk-cube
      .sk-cube2.sk-cube
      .sk-cube4.sk-cube
      .sk-cube3.sk-cube