#feed-activities{'infinite-scroll' => 'loadActivities()'}
  .panel.activity{"ng-repeat" => "activity in activities", 'bu-activities-show' => true, 'activity' => 'activity'}
    

%div.loading-activities{"ng-if" => "activitiesLock"}
  .sk-folding-cube
    .sk-cube1.sk-cube
    .sk-cube2.sk-cube
    .sk-cube4.sk-cube
    .sk-cube3.sk-cube

  -#     \-
  -#     - if trackable
  -#       = render "socializables/like", likable: activity
  -#
  -#   %span.comments-list
  -#     - activity.comments.each do |comment|
  -#       = render "comments/comment", comment: comment
  -#   .media.comment-form
  -#     = image_tag current_user.avatar.url(:mini), class: "img-circle pull-left   user-avatar mini"
  -#     .media-body
  -#       %span.comment-form
  -#         = render "comments/form", comment: Comment.new, commentable: activity
