.panel-body.activity-new-call-to-action
  %form.flexed-grid.flex-centered{action: "#", "ng-submit": "saveNewPost()"}
    %a.grid-item.user-avatar{href: "#"}
      %img.avatar{"ng-src" => "{{currentUser.avatar.tiny}}"}

    .form-group.comment-input.grid-item.flex-fit
      %input.form-control{type: :text, placeholder: "Qu'est-ce-qui vous enflamme aujourd'hui ?"}

    %button.btn.btn-default.add-photo.grid-item{type: :button}
      %i.fa.fa-camera
