%form{name: 'postForm', 'ng-submit': 'save($event)'}
  #activities-new-modal.modal-container{"ng-class" => "active ? 'active' : ''"}
    .modal-header.flexed-grid.flex-centered
      %img.user-avatar.grid-item{"ng-src": "{{currentUser.avatar.tiny}}"}
      %h1.grid-item.flex-fit
        {{currentUser.fullName}}
    .modal-body
      .form-group
        %textarea.form-control{"ng-model": "post.content", 'msd-elastic': true, rows: 1, placeholder: 'Qu\'est-ce qui vous enflamme aujourd\'hui ?'}
      %span{"ng-if": "withPhoto"}

    .modal-footer
      %button.btn.btn-default{type: :button, "ng-click" => "close()", "ng-disabled": "!post.content || savingPost"}
        ANNULER
      %button.btn.btn-default{type: :submit, "ng-disabled": "!post.content || savingPost", "ng-class": "post.content ? 'btn-primary': ''"}
        %i.fa.fa-spin.fa-cog.loading{"ng-if": "savingPost"}
        %span{"ng-if": "!savingPost"}
          PUBLIER
