%form#activities-new-modal.ng-cloak{name: 'postForm', 'ng-submit': 'save($event, postForm)', "novalidate": true}
  .loading-container.text-center{"ng-if": "!post"}
    %i.fa.fa-cog.fa-spin
  %span{"ng-if": "post"}
    .modal-header.flexed-grid.flex-centered
      .grid-item.no-padding
        %img.user-avatar{"ng-src": "{{currentUser.avatar.tiny}}"}
      .grid-item.flex-fit
        %h1
          {{currentUser.fullName}}
    .modal-body
      .form-group{"ng-class": "{'has-error': (postForm.$submitted || postForm.content.$touched) && postForm.content.$error, 'has-success': (postForm.$submitted || postForm.content.$touched) && !postForm.content.$error}"}
        -#{"ng-if": "!withPhoto"}
        %textarea.form-control{name: "content", "ng-model": "post.content", 'msd-elastic': true, autofocus: true, rows: 1, placeholder: 'Qu\'est-ce qui vous enflamme aujourd\'hui ?*', "ng-disabled": "savingPost", "ng-required": "files.length == 0"}
        .help-block{"ng-show": "(postForm.$submitted) && postForm.content.$error.required"}
          Ce champ est obligatoire.

      %span{"ng-if": "withPhoto"}
        -# .button.btn.btn-sm.btn-default{"ng-model": :files, "ngf-multiple": true, "ngf-select": true, "ngf-pattern": "images/*"}
        -#   Select
        -# Drop files:
        -# .drop-box{"ng-model": "files", "ngf-drop": true} Drop
        -#
        -# Image thumbnail:
        -# %img{"ng-repeat": "file in files", "ngf-thumbnail" => "file || '/thumb.jpg'"}/
        -# Audio preview:
        -# %audio{"ng-repeat": "file in files", :controls => "", "ngf-src" => "file"}
        -# Video preview:
        -# %video{"ng-repeat": "file in files", :controls => "", "ngf-src" => "file"}

        .drop-box.text-center{ "ng-if": "files.length < 5",
          :accept => "image/*,application/pdf,audio/mp3,audio/wav,video/mp4",
          "ngf-allow-dir": "true",
          "ngf-drag-over-class": "'dragover'",
          "ngf-drop": "upload($files)",
          "ngf-capture": "'camera'",
          "ngf-select": "upload($files, $invalidFiles)",
          "ngf-multiple": "true",
          "ngf-max-files": "2",
          "ngf-min-size": "10KB",
          "ngf-max-size": "1000MB",
          "ngf-dimensions": "$width > 500 && $height > 500",
          "ngf-pattern": "'image/*,application/pdf,audio/*,video/mp4'"}
          %i.fa.fa-plus-circle
          Déposez ici vos fichiers pdf, images (jpg/png),
          %br
          ou audio (mp3)

        %ul.files{:style => "clear:both"}
          %li.sel-file{"ng-repeat" => "f in files"}
            %div.flexed-grid.flex-centered.flex-unwrapped
              .grid-item>
                -# %pre
                -#   {{f}}
                -#&& fileIsAnImage(f.type)
                -# Image preview made on the fly by ng-file-upload plugin
                %img.thumb.file-preview{"ngf-thumbnail" => "!f.attachmentThumb && !f.$error && f"}
                -# Image preview if file was already uploaded
                %img.thumb.img-responsive.image-preview{"ng-src": "{{f.attachmentThumb}}", "ng-if": "f.attachmentThumb"}
                -# PDF icon
                %img.pdf-icon{src: "/images/pdf.svg", "ng-if": "f.type == 'application/pdf' || !f.type"}>

                %i.fa.fa-cog.fa-spin{"ng-if": "!f.id"}
              .grid-item.flex-fit.flex-shrinked.file-name>
                {{f.name}}
                -# {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                .choose-poster{"ng-if": "(f.type == 'video/mp4' || f.type == 'video') && f.id"}
                  %button.btn.btn-xs.btn-primary{:accept => "image/*",
                    "ngf-select": "uploadPoster($files, $invalidFiles, f)",
                    "ngf-multiple": "false",
                    "ngf-pattern": "'image/*'"}
                    CHOISIR LA COUVERTURE

              .grid-item
                .destroy-file{"ng-click": "deleteAttachment(f)"}
                  %i.fa.fa-times
            %uib-progressbar{class: "progress-striped active", "ng-if": "f.progress < 100", value: 'f.progress', type: "success"}
          %li.sel-file.invalid-file-header{"ng-if" => "invalidFiles.length > 0"}
            Les fichiers suivants n'ont pas pu être téléchargés :
          %li.sel-file.invalid-file{"ng-repeat" => "f in invalidFiles"}
            %div.flexed-grid.flex-centered.flex-unwrapped
              .grid-item
                %i.fa.fa-warning>
              .grid-item.flex-fit.flex-shrinked>
                .file-name
                  {{f.name}}
                %span.validation-messages{"ng-repeat": "(errorKey, errorLabel) in f.errorsLabels"}
                  %span.label.label-warning.message{"uib-popover": "{{errorLabel.popover}}"}
                    {{errorLabel.label}}
              -# Invalid File: {{f.$errorMessages}} {{f.$errorParam}}, {{f.name}} - size: {{f.size}}B - type:
              -# {{f.type}}

      %hr
      
      %h3
        Qui pourra voir votre publication ?

      .visibility-btns.btn-group.btn-group-justified
        %a.btn.btn-default.btn-sm{href: "#", "ng-model": "post.visibility", "uib-btn-radio": "'public'", "ng-class": "post.visibility == 'public' ? 'btn-primary' : ''"}
          %i.fa.fa-globe
          TOUT LE MONDE
        %a.btn.btn-default.btn-sm{href: "#", "ng-model": "post.visibility", "uib-btn-radio": "'member'", "ng-class": "post.visibility == 'member' ? 'btn-primary' : ''"}
          %i.fa.fa-users
          LES MEMBRES
        %a.btn.btn-default.btn-sm{href: "#", "ng-model": "post.visibility", "uib-btn-radio": "'admin'", "ng-class": "post.visibility == 'admin' ? 'btn-primary' : ''"}
          %i.fa.fa-address-card
          LES ADMINS
        %a.btn.btn-default.btn-sm{href: "#", "ng-model": "post.visibility", "uib-btn-radio": "'self'", "ng-class": "post.visibility == 'self' ? 'btn-primary' : ''"}
          %i.fa.fa-lock
          MOI UNIQUEMENT

    .modal-footer
      .row
        .col-sm-6.text-left
          %button.btn.btn-default{type: :button, "ng-click" => "showPhoto()", "ng-if": "!withPhoto"}
            %i.fa.fa-plus
            %i.fa.fa-photo

        .col-sm-6
          %button.btn.btn-default{type: :button, "ng-click" => "close()", "ng-disabled": "savingPost"}
            ANNULER
          %button.btn.btn-default{type: :submit, "ng-class": "(post.content || files.length  > 0) ? 'btn-primary': ''"}
            %i.fa.fa-spin.fa-cog.loading{"ng-if": "savingPost"}
            %span{"ng-if": "!savingPost"}
              PUBLIER
