.lanterns-top

.top-content
  %img.ignition{src: asset_path("ignition.png")}
  %img.implies{src: asset_path("implies.svg")}
  %img.burning{src: asset_path("burning.png")}

.lanterns-bottom

.middle-content
  .container-fluid
    .row
      .col-md-6.text-center
        %h3
          Découvrez l’amour et la bonté de Dieu
        %h4
          au travers de resources (musique, vidéos, peintures, dessins)
          %br
          produites par une communauté de personnes se sachant aimées
        %img.img-responsive.heart{src: asset_path("heart.svg")}

      .col-md-6.text-center
        %img.img-responsive.arts.hidden-xs.hidden-sm{src: asset_path("arts.svg")}
        %h3
          Partagez votre propre et unique expression
        %h4
          de l’amour et de la bonté de Dieu
          %br
          (musique, vidéos, peintures, dessins, … autre ?)
        %img.img-responsive.arts.visible-xs.visible-sm{src: asset_path("arts.svg")}


-# %div
-#   = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
-#     %h3 Connexion
-#     = devise_error_messages!
-#     .form-group
-#       /
-#         <haml_silent> if devise_mapping.registerable? </haml_silent><haml_block>
-#         <haml_loud> link_to &quot;S&#39;inscrire&quot;, new_registration_path(resource_name), class: &#39;pull-right&#39;  </haml_loud>
-#         </haml_block>
-#       = f.input :email, :autofocus => true, class: 'form-control'
-#     .form-group
-#       - if devise_mapping.recoverable?
-#         = link_to "Oublié le votre ?", new_password_path(resource_name), class: 'pull-right'
-#       = f.input :password, class: 'form-control'
-#     = f.submit 'SE CONNECTER', :class => 'btn btn-primary right'
-#     - if devise_mapping.rememberable?
-#       .checkbox
-#         = f.check_box :remember_me
-#         = f.label :remember_me
