%span{"uib-dropdown" => true, "auto-close" => "outsideClick", "is-open" => "status.isOpen"}

  %a{href: "#", "uib-dropdown-toggle" => true}
    %i.fa.fa-bell-o
    %span.inline-visible-xs
      NOTIFICATIONS
    %span.badge.notification-count{"ng-show" => "ready"}
      {{unseenNotificationsCount}}
    %span.caret

  %ul.dropdown-menu#notifications-dropdown{"uib-dropdown-menu" => true, "infinite-scroll" => "getNotifications({nextPage: true})", "infinite-scroll-container" => "'#notifications-dropdown'"}
    %li.mobile-header
      %h3
        NOTIFICATIONS
    %li{"ng-repeat" => "notification in notifications", "ng-class" => "notification.is_seen ? '' : 'is-unseen'"}
      .notification
        %a{"ng-href" => "/notifications/{{notification.id}}"}
          %img.user-avatar-mini{"src" => "{{notification.notifier.avatar.url.mini}}"}
          .notification-content
            .notification-header
              %b
                {{notification.notifier.full_name}}
              {{notification.header_content}}
            .notified-at{"am-time-ago" => "notification.notified_at | amParse: 'DD/MM/YYYY HH:mm'"}
            .notification-notifiable-content
              {{notification.notifiable_content}}

        .seen-notification{"ng-click" => "setAsSeen(notification);$event.preventDefault();$event.stopPropagation()", "ng-if" => "!notification.is_seen"}
          %span{"ng-if" => "!notification.updating"}
            %i.fa.fa-check
          %span{"ng-if" => "notification.updating"}
            %i.fa.fa-spin.fa-cog

    %li.loading.text-center{"ng-if" => "!ready"}
      %i.fa.fa-cog.fa-spin

    %li.no-result{"ng-if" => "!notifications || (notifications && notifications.length == 0)"}
      %i.fa.fa-bell-slash-o
      Aucune notification pour l'instant !
