-# .player-container
-#   %i.fa.fa-play
%img.page-logo{"ng-src": "{{page.logo.medium}}" }
#page-info-container.text-center
  %h1.slogan.bu-slide-top
    {{page.slogan}}
    .actions
      %button.btn.btn-default.btn-md
        %i.fa.fa-info-circle
        À PROPOS
      %button.btn.btn-primary.btn-md{"ng-click": "goDown()"}
        %i.fa.fa-chevron-down
        DÉCOUVRIR
  -# %a.goDown.slide-top{"ng-click": "goDown()"}
  -#   %i.fa.fa-chevron-down

%img.powered-by{src: asset_path("power-by.svg")}
