
%span.main-header-container
  %img.page-logo{"ng-src": "{{page.avatar.medium}}", "ng-class": "infoModalOn ? 'slided-xs' : ''", "ng-if": "!page.logo"}
  %img.page-logo{"ng-src": "{{page.logo.banner}}", "ng-class": "infoModalOn ? 'slided-xs' : ''", "ng-if": "page.logo"}

  #page-title-container.text-center{"ng-class": "infoModalOn ? '' : 'active'"}

    %h1.slogan.bu-slide-top
      .vid.hidden-xs.hidden-sm{"ng-if": "youtubeUrl"}
        .embed-responsive.embed-responsive-16by9
          %iframe{:allowfullscreen => "", :frameborder => "0", width: 'auto', height: 'auto', "ng-src": "{{youtubeUrl}}"}

      {{page.slogan}}
      .actions
        %button.btn.btn-default.btn-md{"ng-click": "toggleInfo()"}
          %i.fa.fa-info-circle
          À PROPOS

        %button.btn.btn-primary.btn-md{"ng-click": "goDown()"}
          %i.fa.fa-chevron-down
          DÉCOUVRIR

    -# %a.goDown.slide-top{"ng-click": "goDown()"}
    -#   %i.fa.fa-chevron-down

  #page-info-container.text-center{"ng-class": "infoModalOn ? 'active' : ''"}
    %h1.slogan.bu-slide-top.visible-xs
      {{page.name}}
    .description
      {{page.description}}


    .info-actions
      %a.back-button{"ng-click": "toggleInfo()"}
        %i.fa.fa-long-arrow-left
        RETOUR
      %button.btn.btn-primary.btn-md{"ng-click": "goDown()"}
        %i.fa.fa-chevron-down
        DÉCOUVRIR
  -# %img.powered-by{src: asset_path("power-by.svg")}
