
%span.main-header-container
  %img.page-logo{"ng-src": "{{page.avatar.medium}}"}

  #page-title-container.text-center{"ng-class": "infoModalOn ? '' : 'active'"}
    %h1.slogan.bu-slide-top
      {{page.slogan}}
      .actions
        %button.btn.btn-default.btn-md{"ng-click": "showInfo()"}
          %i.fa.fa-info-circle
          À PROPOS
        %button.btn.btn-primary.btn-md{"ng-click": "goDown()"}
          %i.fa.fa-chevron-down
          DÉCOUVRIR
    -# %a.goDown.slide-top{"ng-click": "goDown()"}
    -#   %i.fa.fa-chevron-down

  #page-info-container.text-center{"ng-class": "infoModalOn ? 'active' : ''"}
    %h1.slogan.bu-slide-top
      test
  -# %img.powered-by{src: asset_path("power-by.svg")}
