/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require ./all/framework_and_overrides
 *= require ./all/bootswatch_simplex
 *= require bootstrap-datetimepicker
 *= require fullcalendar/fullcalendar.min
 *= require font-awesome
 *= require_self
 *= require_directory ./all
 *= require chosen
 *= require mediaelement_rails
 *= require mediaelement_rails/mejs-skins
 *= require angular-bootstrap/ui-bootstrap-csp
 */
@import "all/helpers";

[data-link-to]:hover {
  cursor: pointer;
}

.navbar-brand {
  img {
    height: 35px;
    margin-top: -5px;
  }
}

#headers {
  margin-bottom: 20px;

  .song-info {
    display: none;
  }
}

.clear {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
  margin-right: 5px;
}

.btn[class*="btn-"] {
  .glyphicon {
    color: rgba(255,255,255,0.6);
    @include transition(0.5s);
  }

  &:focus,
  &:hover {
    .glyphicon {
      color: rgba(255,255,255,1);
    }
  }
}

.btn {
  .glyphicon {
    color: rgba(212,39,0,0.6);
    @include transition(0.5s);
  }

  &:focus,
  &:hover {
    .glyphicon {
      color: rgba(212,39,0,1);
    }
  }
}

.media-heading {
  margin-bottom: 0;
}

.media-heading p {
  margin-bottom: 0;
}

.timepicker-picker {
  tr {
    td {
      text-align: center;

      span[data-action] {
        text-align: center;
        width: 100%;
      }
    }
  }
}

#song-panes {
  .tab-pane {
    margin-top: 20px;
  }
}

body {
  &.unscrollable {
    overflow: hidden;
  }
}

body.public {
  background: url('/assets/lanterns.jpg') no-repeat center transparent;
  background-size: cover;
  background-attachment: fixed;

  footer {
    color: white;
    @include text-shadow-dark(0,0,3px,1);
    border-top: 1px solid transparent;
  }
}

#public-right-pane {
  padding: 10px 20px 20px;
  background: rgba(19, 19, 19, 0.74);
  @include rounded-corners(5px);
  color: white;

  h3 {
    color: white;
  }

  a,
  label {
    color: white;
  }

  a {
    text-decoration: underline;
  }
}

#public-left-pane {
  h1,
  h2 {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    @include text-shadow(0,0,6px,$main_color);
  }
}

footer {
  border-top: 1px solid #eee;
  background: rgba(255,255,255,0.2);
  color: $main_color;
  // @include text-shadow-dark(0,0,3px,0.3);
  text-align: center;
  margin: 10px 0 0;
  //border-top: 1px dashed $main_color;
  padding: 10px 0;
}

.navbar-inverse .navbar-nav > li {
  border-bottom: 4px solid transparent;
  margin-bottom: -1px;

  &.active,
  &:hover {
    border-bottom: 4px solid white;
  }

  &.active {
    > a {
      color: white;
    }
  }

  &.dropdown {
    .dropdown-menu {
      margin-top: 3px;
    }
  }
}

.left-margin {
  margin-left: 10px;
}

#meetings {
  .fc-toolbar {
    .fc-left {
      h2 {
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 8px;
      }
    }
  }
}

#search_term {
  padding: 5px;
  height: 32px;
  margin-top: 5px;
  width: 240px;
}

.well {
  background: white;
  border: 1px solid $main-color;
}

.red {
  color: $main_color;
}

.instrument_fields {
  textarea {
    height: 38px;
  }
}

.nested_form {
  .nested_fields_wrapper {
    .nested-fields:first-child,
    .nested_model_fields:first-child {
      .close-btn {
        // display: none;
      }
    }
  }

  .nested_model_fields {
    padding-top: 10px;
    min-height: 60px;

    .fields-wrapper,
    .fields-wrapper-not-dashed {
      padding: 15px 0 0;
      margin: -10px 10px 10px;
    }

    &:not(:first-child) {
      .fields-wrapper {
        border-top: 1px dashed #999;
      }
    }

    .links {
      margin-bottom: 30px;
      text-align: center;

      .btn {
        width: 100%;
      }
    }
  }
}

#profile-form {
  h1 {
    font-size: 19px;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .profile-label {
    text-align: right;
    margin-top: 10px;

    label {
      font-family: "Helvetica Neue";
      color: rgb(64, 64, 64);
      font-weight: normal;
    }
  }

  #avatar-file-input {
    margin-top: 10px;
  }

  form > .form-group {
    clear: both;

    &.avatar {
      min-height: 70px;
    }

    .alert {
      padding: 7px;
      font-size: 12px;
      margin: 7px 0;
    }
    min-height: 35px;
  }
}

.datepicker.dropdown-menu {
  z-index: 10000 !important;
}

.clearboth {
  clear: both;
}

.destroy-comment,
.destroy-post {
  color: rgb(81, 81, 81);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 4px 9px 6px 10px;
  position: relative;
  margin: 10px;
}

.content-body {
   > p > img,
  > p > .video {
    float: left;
    padding: 10px 10px 10px 0;
  }
}

.post-form {
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  list-style: none;

  .post_content {
    resize: none;
    max-height: 38px;
  }

  .media-footer {
    @include transition(0.5s);
    height: 0;
    overflow: hidden;
  }

  &.opened {
    .post_content {
      max-height: 10000px;
    }

    .media-footer {
      height: 30px;
    }
  }
}

.hidden {
  display: none;
}

.activity_comment {
  resize: none;
}

.activity-footer {
  margin-bottom: 10px;
  clear: both;

  .comments-list {
    .media {
      > .img-circle {
        padding-right: 0;
        margin-right: 20px;
      }
    }
  }
}

.post_music_medias_attachment {
  float: left;
}

.user-avatar-micro {
  display: inline;
  @include rounded-corners(30px);
  margin-bottom: -21px;
  margin-top: -21px;
}

.navbar-nav > li > span {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;

  > a {
    color: white;
    background: transparent !important;
    text-decoration: none !important;
    padding: 10px 0;
  }
}

.media {
  .img-circle.no-right-padding {
    padding-right: 0 !important;
  }
}

.post_music_medias_attachment .form-control.file {
  width: 100px;
}
@media (max-width: 768px) {
  .navbar-inverse .navbar-nav > li.active,
  .navbar-inverse .navbar-nav > li:hover {
    border-bottom: 0 solid transparent;
  }

  .navbar {
    li[notifications] {
      padding: 0 15px;

      > span {
        width: 100%;

        #notifications-dropdown.dropdown-menu {
          background: white;
          width: 100%;
        }
      }
    }
  }

  .navbar-brand {
    img {
      margin-top: -7.5px;
    }
  }
}
