// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "helpers";

#song_title {
  @include box-shadow-erase();
  background: transparent;
  border: 0px solid transparent;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  font-size: 63px;
  height: 90px;
  padding-left: 0;
  padding-right: 0;
}

#song-key-padder {
  padding-top: 40px;
}

#song_content {
  margin-top: 20px;
}

#song-container {
  padding-top: 20px;
  font-size: 16px;
  position: relative;
  line-height: 25px;

  .content-note {
    display: inline-block;
    width:0;
  }
  #song-notes {
    .note {

      @include transition();
      line-height: 20px;
      position: absolute;
    }
  }

  &.loading {
    #song-notes {
      .note {
        opacity: 0;
      }
    }
  }
}