-# .container-fluid
-#   .row
-#     .col-md-12
-#       .panel
-#         .panel-body
-#           .row
-#             .col-sm-12
-#               #post-form
-#                 = render "posts/form", :post => @post

- if current_user and current_user.church
  .container-fluid
    %bu-activities-index{"recipient-type": "'Church'", "recipient-id": "#{current_user.church.id}"}
