-# .container-fluid
-#   .row
-#     .col-md-12
-#       .panel
-#         .panel-body
-#           .row
-#             .col-sm-12
-#               #post-form
-#                 = render "posts/form", :post => @post
- if current_user
  .container-fluid
    %bu-activities-index{"recipient-type": "'Page'", "recipient-id": "#{current_user.page ? current_user.page.id : ''}", "write-mode-enabled": "false"}
