
- if @activity.recipient.is_a? Page
	= content_for :pre_header do
		.page-header-container.ng-cloak{"bu-adapt-window": "'height'"}
			%bu-header-show-case{"page-id": "#{@activity.recipient.id}"}
			.background-image.bu-fade{style: "background-image:url('#{asset_path("pa.jpg")}')"}


#feed-activities
	.container-fluid
		.col-md-9
			.panel.activity{'bu-activities-show' => true, 'activity-id': @activity.id}