<span auto-close='outsideClick' is-open='status.isOpen' uib-dropdown>
<a href='#' uib-dropdown-toggle>
<i class='fa fa-bell-o'></i>
<span class='inline-visible-xs'>
NOTIFICATIONS
</span>
<span class='badge notification-count' ng-show='ready'>
{{unseenNotificationsCount}}
</span>
<span class='caret'></span>
</a>
<ul class='dropdown-menu' id='notifications-dropdown' infinite-scroll-container='&#39;#notifications-dropdown&#39;' infinite-scroll='getNotifications({nextPage: true})' uib-dropdown-menu>
<li class='mobile-header'>
<h3>
NOTIFICATIONS
</h3>
</li>
<li ng-class='notification.is_seen ? &#39;&#39; : &#39;is-unseen&#39;' ng-repeat='notification in notifications'>
<div class='notification'>
<a ng-href='/notifications/{{notification.id}}'>
<img class='user-avatar-mini' src='{{notification.notifier.avatar.url.mini}}'>
<div class='notification-content'>
<div class='notification-header'>
<b>
{{notification.notifier.full_name}}
</b>
{{notification.header_content}}
</div>
<div am-time-ago='notification.notified_at | amParse: &#39;DD/MM/YYYY HH:mm&#39;' class='notified-at'></div>
<div class='notification-notifiable-content'>
{{notification.notifiable_content}}
</div>
</div>
</a>
<div class='seen-notification' ng-click='setAsSeen(notification);$event.preventDefault();$event.stopPropagation()' ng-if='!notification.is_seen'>
<span ng-if='!notification.updating'>
<i class='fa fa-check'></i>
</span>
<span ng-if='notification.updating'>
<i class='fa fa-spin fa-cog'></i>
</span>
</div>
</div>
</li>
<li class='loading text-center' ng-if='!ready'>
<i class='fa fa-cog fa-spin'></i>
</li>
<li class='no-result' ng-if='!notifications || (notifications &amp;&amp; notifications.length == 0)'>
<i class='fa fa-bell-slash-o'></i>
Aucune notification pour l'instant !
</li>
</ul>
</span>
