<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= navigation_link('ACCUEIL', [feeds_path,root_path], 'home') %></li>
  <li><%= navigation_link('CHANTS', songs_path, 'align-left') %></li>
  <li><%= navigation_link('RÉUNIONS', meetings_path, 'align-left') %></li>
<% else %>
<% end %>
