- if user_signed_in?
  %li= navigation_link('FIL', [feeds_path,root_path], 'align-left')
  %li= navigation_link('CHANTS', songs_path, 'music')
  %li= navigation_link('RÉUNIONS', meetings_path, 'calendar')
  %li.dropdown{"notifications" => true}
- else
