- if user_signed_in?
  %li= navigation_link('DÉCOUVRIR', [activities_path,root_path], 'android-compass', { icons: 'burnup' })
  %li= navigation_link('CHANTS', songs_path, 'music')
  -# %li= navigation_link('RÉUNIONS', meetings_path, 'calendar')
  %li.dropdown.notifications-dropdown-wrapper{"notifications" => true}
- else
