<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= navigation_link('FIL', [feeds_path,root_path], 'align-left') %></li>
  <li><%= navigation_link('CHANTS', songs_path, 'music') %></li>
  <li><%= navigation_link('RÉUNIONS', meetings_path, 'calendar') %></li>
<% else %>
<% end %>
