!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml"}
  %head
    /[if gte mso 9]
      <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "IE=9; IE=8; IE=7; IE=EDGE", "http-equiv" => "X-UA-Compatible"}/
    %title Template Base
  %body{:style => "width: 100% !important;min-width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100% !important;margin: 0;padding: 0;background-color: #FFFFFF"}
    %style#media-query
      :cdata
        \/* Client-specific Styles & Reset */
        \#outlook a {
        padding: 0;
        }

        \/* .ExternalClass applies to Outlook.com (the artist formerly known as Hotmail) */
        \.ExternalClass {
        width: 100%;
        }

        \.ExternalClass,
        \.ExternalClass p,
        \.ExternalClass span,
        \.ExternalClass font,
        \.ExternalClass td,
        \.ExternalClass div {
        line-height: 100%;
        }

        \#backgroundTable {
        margin: 0;
        padding: 0;
        width: 100% !important;
        line-height: 100% !important;
        }

        \/* Buttons */
        \.button a {
        display: inline-block;
        text-decoration: none;
        \-webkit-text-size-adjust: none;
        text-align: center;
        }

        \.button a div {
        text-align: center !important;
        }

        \/* Outlook First */
        body.outlook p {
        display: inline !important;
        }

        a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important; }

        \/*  Media Queries */
        @media only screen and (max-width: 500px) {
        table[class="body"] img {
        height: auto !important;
        width: 100% !important; }
        table[class="body"] img.fullwidth {
        max-width: 100% !important; }
        table[class="body"] center {
        min-width: 0 !important; }
        table[class="body"] .container {
        width: 95% !important; }
        table[class="body"] .row {
        width: 100% !important;
        display: block !important; }
        table[class="body"] .wrapper {
        display: block !important;
        padding-right: 0 !important; }
        table[class="body"] .columns, table[class="body"] .column {
        table-layout: fixed !important;
        float: none !important;
        width: 100% !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        display: block !important; }
        table[class="body"] .wrapper.first .columns, table[class="body"] .wrapper.first .column {
        display: table !important; }
        table[class="body"] table.columns td, table[class="body"] table.column td, .col {
        width: 100% !important; }
        table[class="body"] table.columns td.expander {
        width: 1px !important; }
        table[class="body"] .right-text-pad, table[class="body"] .text-pad-right {
        padding-left: 10px !important; }
        table[class="body"] .left-text-pad, table[class="body"] .text-pad-left {
        padding-right: 10px !important; }
        table[class="body"] .hide-for-small, table[class="body"] .show-for-desktop {
        display: none !important; }
        table[class="body"] .show-for-small, table[class="body"] .hide-for-desktop {
        display: inherit !important; }
        \.mixed-two-up .col {
        width: 100% !important; } }
        @media screen and (max-width: 500px) {
        div[class="col"] {
        width: 100% !important;
        }
        }

        @media screen and (min-width: 501px) {
        table[class="container"] {
        width: 500px !important;
        }
        }
    %table.body{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 100%;width: 100%;table-layout: fixed", :width => "100%"}
      %tbody
        %tr{:style => "vertical-align: top"}
          %td.center{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;background-color: #FFFFFF", :valign => "top"}
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
              %tbody
                %tr{:style => "vertical-align: top"}
                  %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #DA351C", :width => "100%"}
                    /[if gte mso 9]
                      <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                    /[if (IE)]
                      <table width="500" align="center" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                      <td>
                    %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 500px;margin: 0 auto;text-align: inherit", :width => "100%"}
                      %tbody
                        %tr{:style => "vertical-align: top"}
                          %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                            %table.block-grid.two-up{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 500px;color: #333;background-color: transparent", :width => "100%"}
                              %tbody
                                %tr{:style => "vertical-align: top"}
                                  %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;text-align: center;font-size: 0"}
                                    /[if (gte mso 9)|(IE)] <table width="100%" align="center" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0"><tr>
                                    /[if (gte mso 9)|(IE)] <td valign="top" width="225" style="width:225px;">
                                    .col.num6{:style => "display: inline-block;vertical-align: top;text-align: center;width: 225px;margin: 0 -15px 0 15px;"}
                                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                        %tbody
                                          %tr{:style => "vertical-align: top"}
                                            %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 20px;padding-right: 0px;padding-bottom: 20px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                %tbody
                                                  %tr{:style => "vertical-align: top"}
                                                    %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;width: 100%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px"}
                                                      %div{:align => "center", :style => "font-size:12px"}
                                                        %a{:href => "http://burnup.ac-ac.fr", :target => "_blank"}
                                                          %img.center.fullwidth{:align => "center", :alt => "Logo BURNUP", :border => "0", :src => email_image_tag("logov2.jpg"), :style => "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: none;height: auto;line-height: 100%;margin: 0 auto;float: none;width: 100% !important;max-width: 225px", :title => "Logo BURNUP", :width => "250"}/
                                    /[if (gte mso 9)|(IE)] </td>
                                    /[if (gte mso 9)|(IE)] <td valign="top" width="275" style="width:275px;">
                                    .col.num6{:style => "display: inline-block;vertical-align: top;text-align: center;width: 275px"}
                                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                        %tbody
                                          %tr{:style => "vertical-align: top"}
                                            %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 20px;padding-right: 0px;padding-bottom: 20px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                              %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                %tbody
                                                  %tr{:style => "vertical-align: top"}
                                                    %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top"}  
                                    /[if (gte mso 9)|(IE)] </td>
                                    /[if (gte mso 9)|(IE)] </td></tr></table>
                    /[if mso]
                      </td></tr></table>
                    /[if (IE)]
                      </td></tr></table>
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
              %tbody
                %tr{:style => "vertical-align: top"}
                  %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #f0f0f0", :width => "100%"}
                    /[if gte mso 9]
                      <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                    /[if (IE)]
                      <table width="500" align="center" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                      <td>
                    %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 500px;margin: 0 auto;text-align: inherit", :width => "100%"}
                      %tbody
                        %tr{:style => "vertical-align: top"}
                          %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                            %table.block-grid{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 500px;color: #000000;background-color: transparent", :width => "100%"}
                              %tbody
                                %tr{:style => "vertical-align: top"}
                                  %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;text-align: center;font-size: 0"}
                                    /[if (gte mso 9)|(IE)] <table width="100%" align="center" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0"><tr>
                                    /[if (gte mso 9)|(IE)] <td valign="top" width="500" style="width:500px;">
                                    .col.num12{:style => "display: inline-block;vertical-align: top;width: 100%"}
                                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                        %tbody
                                          %tr{:style => "vertical-align: top"}
                                            %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                              %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                %tbody
                                                  %tr{:style => "vertical-align: top"}
                                                    %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px"}
                                                      %div{:style => "height: 0px;"}
                                                        %table{:align => "center", :border => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;border-top: 0px solid transparent;width: 100%"}
                                                          %tbody
                                                            %tr{:style => "vertical-align: top"}
                                                              %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top"}
                                    /[if (gte mso 9)|(IE)] </td>
                                    /[if (gte mso 9)|(IE)] </td></tr></table>
                    /[if mso]
                      </td></tr></table>
                    /[if (IE)]
                      </td></tr></table>
            -# MAIN CONTENT
            = yield


            -# FOOTER
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
              %tbody
                %tr{:style => "vertical-align: top"}
                  %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: #ffffff", :width => "100%"}
                    /[if gte mso 9]
                      <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
                    /[if (IE)]
                      <table width="500" align="center" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                      <td>
                    %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 500px;margin: 0 auto;text-align: inherit", :width => "100%"}
                      %tbody
                        %tr{:style => "vertical-align: top"}
                          %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                            %table.block-grid{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 500px;color: #333;background-color: transparent", :width => "100%"}
                              %tbody
                                %tr{:style => "vertical-align: top"}
                                  %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;text-align: center;font-size: 0"}
                                    /[if (gte mso 9)|(IE)] <table width="100%" align="center" bgcolor="transparent" cellpadding="0" cellspacing="0" border="0"><tr>
                                    /[if (gte mso 9)|(IE)] <td valign="top" width="500" style="width:500px;">
                                    .col.num12{:style => "display: inline-block;vertical-align: top;width: 100%"}
                                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                        %tbody
                                          %tr{:style => "vertical-align: top"}
                                            %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 20px;padding-right: 0px;padding-bottom: 20px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                %tbody
                                                  %tr{:style => "vertical-align: top"}
                                                    %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "top"}
                                                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top"}
                                                        %tbody
                                                          %tr{:style => "vertical-align: top"}
                                                            %td{:align => "center", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;text-align: center;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;max-width: 151px", :valign => "top"}
                                                              /[if (gte mso 9)|(IE)]
                                                                <table width="141" align="left" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                <td align="left">
                                                              %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                                %tbody
                                                                  %tr{:style => "vertical-align: top"}
                                                                    %td{:align => "left", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "middle"}
                                                                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "37", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;padding: 0 5px 5px 0"}
                                                                        %tbody
                                                                          %tr{:style => "vertical-align: top"}
                                                                            %td{:align => "left", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "middle", :width => "37"}
                                                                              %a{:href => "https://www.facebook.com/", :target => "_blank", :title => "Facebook"}
                                                                                %img{:alt => "Facebook", :src => email_image_tag("facebook.png"), :style => "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: none;height: auto;line-height: 100%;max-width: 32px !important", :title => "Facebook", :width => "32"}/
                                                                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "37", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;padding: 0 5px 5px 0"}
                                                                        %tbody
                                                                          %tr{:style => "vertical-align: top"}
                                                                            %td{:align => "left", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "middle", :width => "37"}
                                                                              %a{:href => "http://twitter.com/", :target => "_blank", :title => "Twitter"}
                                                                                %img{:alt => "Twitter", :src => email_image_tag("twitter.png"), :style => "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: none;height: auto;line-height: 100%;max-width: 32px !important", :title => "Twitter", :width => "32"}/
                                                                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "37", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;padding: 0 5px 5px 0"}
                                                                        %tbody
                                                                          %tr{:style => "vertical-align: top"}
                                                                            %td{:align => "left", :style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top", :valign => "middle", :width => "37"}
                                                                              %a{:href => "http://plus.google.com/", :target => "_blank", :title => "Google+"}
                                                                                %img{:alt => "Google+", :src => email_image_tag("googleplus.png"), :style => "outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block;border: none;height: auto;line-height: 100%;max-width: 32px !important", :title => "Google+", :width => "32"}/
                                                              /[if (gte mso 9)|(IE)]
                                                                </td>
                                                                </tr>
                                                                </table>
                                              %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                %tbody
                                                  %tr{:style => "vertical-align: top"}
                                                    %td{:style => "word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px"}
                                                      %div{:style => "color:#959595;line-height:150%;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;"}
                                                        %div{:style => "font-size:12px;line-height:18px;color:#959595;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;text-align:left;"}
                                                          %p{:style => "margin: 0;font-size: 12px;line-height: 18px;text-align: center"}
                                                            BURNUP -
                                                            %a{:href => "http://burnup.ac-ac.fr", :rel => "noopener noreferrer", :style => "color:#DA351C;text-decoration: underline;", :target => "_blank"} burnup.ac-ac.fr
                                    /[if (gte mso 9)|(IE)] </td>
                                    /[if (gte mso 9)|(IE)] </td></tr></table>
                    /[if mso]
                      </td></tr></table>
                    /[if (IE)]
                      </td></tr></table>
